.flix-home {
  background-color: rgb(72, 22, 22);
  height: 1040px;
}

.enter-div {
  position: relative;
  margin: 0 auto;
  line-height: 200px;
  text-align: center;
  height: 75%;
  background-color: rgb(26, 26, 23);
  width: 60%;

}

.enter-paragraph {
  font-family: fantasy;
  font-size: 37px;
  position: relative;
  top: 20%;
  margin: 0 auto;
  color: rgba(211, 210, 210, 0.762);
}

.enter-button {
  color: rgb(218, 212, 212);
  background-color: rgb(26, 26, 23);
  border-radius: 50%;
  position: relative;
  top: 22%;
  font-size: 15px;
  border: none;
  height: 43px;
}

@media screen and (max-width: 414px) {
  .enter-paragraph {
    color: rgba(211, 210, 210, 0.762);

    /* background-color: rgba(159, 101, 252, 0.563); */
    font-size: 25px;
    line-height: 190%;
  }

  .enter-button {
    color: rgb(167, 24, 24);
    background-color: rgb(46, 46, 43);
    /* border-radius: 90%; */
    position: relative;
    top: 22%;
    font-size: 22px;
    border: none;
    height: 43px;
  }

  .enter-div {
    position: relative;
    margin: 0 auto;
    line-height: 280px;
    text-align: center;
    height:90%;
    background-color: rgb(26, 26, 23);
    width: 82%;
  }

  .flix-home {
    position: relative;
    background-color: rgb(72, 22, 22);
    height: 550px;
  }

  #footer-container {
    height: 0.3px;
    color: rgb(124, 123, 124);
    background-color: rgb(26, 24, 25);
  }
}
