.flix-home {
background-color: rgb(72, 22, 22);
height: 100%;
}

.enter-div {
  position: relative;
  margin: 0 auto;
  line-height: 200px;
  text-align: center;
  height: 50%;
  background-color: rgb(26, 26, 23);
  width: 70%;
}

.enter-paragraph {
  font-family:fantasy;
  font-size: 47px;
  position: relative;
  margin: 0 auto;
color: rgba(211, 210, 210, 0.762);
}

.enter-button {
  color: rgb(218, 212, 212);
  background-color: rgb(26, 26, 23);
  border-radius: 50%;
  font-size: 25px;
  border: none;
  height: 43px;

}


