
a.movie-link {
font-size: 64px;
text-decoration: none;
font-family: fantasy;
font-weight: 500;
color: rgb(240, 243, 243);
position: relative;
padding: 40px;
left: 30px;
top: 16px;
 margin-top:10px;
}


.movies-word {
color: white;
font-size: 34px;
font-family: fantasy;
text-align: center;
padding-bottom: 43px;
margin: 0px;
}
.movie-home {
  /* background-color: rgb(44, 44, 48); */
  background-color: rgb(26, 26, 23);
  padding-bottom: 33px;
}

.popular-movies{
  display: flex;
  font-size: 30px;
}

.pop-movies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  
}

.submit-form {
  text-align: center;
  display: block;
  font-size: 22px;
  padding: 50px;
  color: white;
}

input {
  width: 19%;
  height: 25px;
  /* padding-top: 40px; */
}