.details-text {
  right: 40px;
  color: rgb(225, 223, 223);
  /* display: block; */
  margin-inline-start: 0px;
  margin-inline-end: 300px;
}

.page {
  height: 100%;
  color: black;
  padding: 200px;
}

.image-dt {
  display: inline-block;
  height: 440px;
  width: 400px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 1.5in 1in;
  top: -70px;
  /* padding-right: 200px; */
}

.overview {
  width: 45%;
  float: right;
  position: relative;
  top: 90px;
  left: 20%;
  right: -43%;
}

.title {
  float: right;
  position: relative;
  font-size: 27px;
  /* left: -355px; */
  left: -10%;
  font-weight: bold;
}

.release-date {
  font-size: 20px;
  position: relative;
  float: right;
  background-color: rgb(255, 102, 0);

}

@media screen and (max-width: 414px) {
  .enter-paragraph {
    color: rgba(211, 210, 210, 0.762);

    /* background-color: rgba(159, 101, 252, 0.563); */
    font-size: 25px;
    line-height: 190%;
  }

  .release-date {
    font-size: 20px;
    position: relative;
    font-weight: bold;
    background-color: rgb(255, 102, 0);
    text-align: center;
    display: inline;


    /* float: right; */
  }

  .image-dt {
    display: inline-block;
    height: 350px;
    width: 300px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0.5in 0.5in;
    top: -190px;
    margin: 0 auto;
    /* padding-right: 200px; */
  }
  .overview {
    width: 65%;
    height: 40%;
    float:left;
    position: relative;
    color: rgb(179, 174, 174);
    top: 380px;
    /* left: -17%; */
    text-align: center;
  }

  .details-text {
    color: rgb(230, 227, 228);
    display: inline;
    /* background-color: rgb(213, 40, 193); */
    width: 100%;
    height: 30%;
    /* float: none; */
    text-align: center;
    /* position: relative; */

  }

  .title {
     /* float: left;  */
    position: relative;
    font-size: 32px;
    padding: 28px;
    /* left: -33%; */
    text-align: center;
    font-weight:normal;
  }

  .movie-home{
    margin: 0 auto;
    height: 45%;
    width: 100%;
  }
}
