.header {
  background-color: rgb(26, 26, 23);
  padding-bottom: 44px;
}


@media screen and (max-width: 414px) {
  a.movie-link {
    font-size: 33px;
    text-decoration: none;
    font-family: fantasy;
    font-weight: 500;
    color: rgb(140, 137, 137);
    position: relative;
    padding: 40px;
    left: 10px;
    top: 24px;
  }
}
