.header {
  background-color: rgb(26, 26, 23);
  padding-bottom: 44px;
}
 .movies-link {
   text-decoration: none;
   font-size: 33px;
   padding-left: 33px;
   color: rgb(198, 198, 203);
   /* background-color: pink; */
 }

 /* .movie-show-link {
   background-color: rgb(216, 208, 170);
   font-family: fantasy;
   height: 43px;
 } */

 /* .movie-link {
   color: red;
 } */